name: "Deploy"

on:
  push:
    branches: [ main ]
    paths-ignore:
      - 'README.md'
      - '.github/CODEOWNERS'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Deploy
        run: |
          curl -X POST -d {} ${{ secrets.WEBHOOK_URL }}
